/* Full page layout */
.back-link {
  color: #6c757d;
  font-size: .7rem;
  /* Standard bootstrap muted gray */
  transition: all 0.2s ease-in-out;
}

.back-link:hover {
  color: #000;
  font-size: .9rem;
  /* Darker on hover */
  transform: translateX(-5px);
  /* Slide 5px to the left */
}

.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  background: #ffffffeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* fills entire left area */
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

/* Form wrapper */
.form-wrapper {
  width: 100%;
  max-width: 520px;
  padding: 2rem;
}

/* Inputs */
.form-control {
  border-radius: 12px;
  padding: 14px 16px;
  border: 1px solid #ddd;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
}

/* Button */
.btn-dark {
  border-radius: 14px;
  padding: 14px;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 992px) {
  .login-left {
    display: none;
  }

  .login-right {
    flex: 1;
  }
}