<div class="d-flex min-vh-100 align-items-center justify-content-center bg-light py-5">

  <div class="card border-0 shadow-lg rounded-4 p-4 p-md-5" style="max-width: 500px; width: 100%;">
    <a routerLink="/home"
      class="back-link position-absolute top-0 start-0 m-4 text-decoration-none text-muted fw-medium"
      style=" cursor: pointer;">
      <i class="bi bi-chevron-left me-1"></i> Back To Website
    </a>
    <div class="text-center mb-4">
      <a routerLink="/home">
        <img src="assets/translogo.png" alt="Duja Logo" style="width: 150px; object-fit: contain;">
      </a>
    </div>


    @if (errorMsg) {
    <div class="alert alert-danger py-2 text-center small mb-3">{{ errorMsg }}</div>
    }
    @if (successMsg) {
    <div class="alert alert-success py-2 text-center small mb-3">{{ successMsg }}</div>
    }

    <form [formGroup]="Form" (ngSubmit)="submit()">

      <div class="row g-3">
        <div class="col-12">
          <label class="form-label fw-medium small text-muted">Email Address</label>
          <input class="form-control form-control-lg bg-light border-0" formControlName="email"
            placeholder="name@example.com" />

          @if (Form.get('email')?.touched && Form.get('email')?.invalid) {
          <div class="text-danger small mt-1">
            <i class="bi bi-exclamation-circle me-1"></i> Email is required.
          </div>
          }
        </div>

        <div class="col-12">
          <label class="form-label fw-medium small text-muted">Password</label>
          <input type="password" class="form-control form-control-lg bg-light border-0" formControlName="password"
            placeholder="••••••••" />

          @if (Form.get('password')?.touched && Form.get('password')?.invalid) {
          <div class="text-danger small mt-1">
            <i class="bi bi-exclamation-circle me-1"></i> Password is required.
          </div>
          }
        </div>

      </div>

      <button class="btn btn-dark w-100 btn-lg mt-4 rounded-pill shadow-sm" [disabled]="isLoading">
        @if (isLoading) {
        <span class="spinner-border spinner-border-sm me-2"></span>
        }
        Login
      </button>

      <div class="text-center mt-4">
        <span class="text-muted small">Don’t have an account?</span>
        <a [routerLink]="['/register']" class="ms-1 text-dark fw-bold text-decoration-none">Create one</a>
      </div>

    </form>

  </div>
</div>