.footer-icon {
  color: #222;
  transition: all 0.3s ease;
}

.footer-icon:hover {
  color: #000;
  transform: translateY(-3px);
}

.footer-link {
  color: #222;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #000;
  text-decoration: underline;
}
