<footer class="mt-5 border-top border-dark bg-black text-light">
  <div class="container-fluid px-5 py-5">
    <div class="row align-items-center gy-4">

      <!-- LOGO -->
      <div class="col-md-4 text-center text-md-start ">
        <img src="assets/duja_white_transparent.png"
             alt="Duja Logo"
             class="img-fluid"
             style="max-height:25vh">
      </div>

      <!-- FOLLOW US -->
      <div class="col-md-4 text-center">
        <h6 class="text-uppercase fw-semibold mb-3 text-secondary">
          Follow Us
        </h6>

        <div class="d-flex justify-content-center gap-4 fs-3">
          <a href="https://www.instagram.com/duja_brand_/"
             target="_blank"
             class="footer-icon text-light">
            <i class="bi bi-instagram"></i>
          </a>

          <a href="https://www.tiktok.com/@duja_brand_"
             target="_blank"
             class="footer-icon text-light">
            <i class="bi bi-tiktok"></i>
          </a>
        </div>
      </div>

      <!-- CONTACT -->
      <div class="col-md-4 text-center text-md-center">
        <h6 class="text-uppercase fw-semibold mb-3 text-secondary">
          Contact Us
        </h6>

        <div class="d-flex justify-content-center  gap-3 small">
          <i class="bi bi-phone text-light fw-bold "></i>

          <a href="tel:+201023481375" class="footer-link text-light fw-bold">
            +2 010 2348 1375
          </a>

          <span class="text-secondary fw-semibold">|</span>

          <a href="tel:+201096768843" class="footer-link text-light fw-bold">
            +2 010 9676 8843
          </a>
        </div>
      </div>

    </div>

  </div>
</footer>
